.store-sales-container {
  padding: 2%;
  .top-dashboard {
    .dashboard-content {
      background-color: #F6F9FC;
      padding: 3%;
      border-radius: 5%;
      p:first-of-type {
        font-size: 1.2em;
      }
    }
  }
  .dashboard-widget p{
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
  }
  .react-datepicker-wrapper, .react-datepicker__input-container,
  .react-datepicker__input-container input {
   border: none;
   text-align: center;
  }
}