.store-products-container {
    padding: 3%;
    .img-store-products {
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
        display: block;
        margin: auto;
    }
    .img-edit-product {
        width: 300px;
        height: 250px;
        object-fit: contain;
        display: block;
        margin: auto;
    }
    #carousel_image_product {
        width: 65%;
        margin: auto;
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            filter: invert(0.5);
        }
    }
    #carousel_image_add {
        width: 50%;
        margin: auto;
        overflow: hidden;
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            filter: invert(0.5);
        }
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        margin: 1%;
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        color: $main-color;
        &:hover {
            color: white;
            background-color: $main-color;
        }
    }
    .products-review-form {
        .review-title {
            position: relative;

            .rating {
                display: inline-block;

                .bx.bxs-star {
                    color: #ffba0a;
                }
                i {
                    color: #ebebeb;
                    font-size: 18px;
                    margin-right: -1px;
                }
            }
            p {
                margin-bottom: 0;
                display: inline-block;
                padding-left: 5px;
                line-height: initial;
                position: relative;
                top: -2px;
            }
            .default-btn {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .review-comments {
            margin-top: 35px;

            .review-item {
                position: relative;
                border-top: 1px dashed grey;
                padding: 2%;
                .rating {
                    .bx.bxs-star {
                        color: #ffba0a;
                    }
                    i {
                        font-size: 17px;
                        color: #ebebeb;
                        margin-right: -1px;
                    }
                }
                h3 {
                    font-size: 20px;
                    margin: {
                        top: 8px;
                        bottom: 8px;
                    }
                }
                span {
                    margin-bottom: 10px;
                    font-size: $font-size;
                    display: block;

                    strong {
                        font-weight: 500;
                    }
                }
                p {
                    margin-bottom: 0;
                }
                .img-review {
                    width: 12vmin;
                    height: 12vmin;
                    object-fit: contain;
                    margin-right: 1vmin;
                    border: 1px solid #dddddd;
                }
            }
        }
        .review-form {
            margin-top: 30px;

            h3 {
                margin-bottom: 20px;
            }
            form {
                .form-group {
                    margin-bottom: 15px;
                }
                .default-btn {
                    margin-top: 10px;
                }
            }
        }
    }
}
