@import "../../utils/variable";

.contact-info {
    h3 {
        margin-bottom: 15px;
        font: {
            size: 22px;
            weight: 700;
        };
    }
    p {
        a {
            display: inline;
            font-weight: 500;
        }
    }
    .contact-list {
        padding-left: 0;
        margin-bottom: 25px;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            position: relative;
            padding-left: 28px;
            text-align: justify;

            i {
                position: absolute;
                left: 0;
                top: 2px;
                color: $main-color;
                font-size: 20px;
            }
            a {
                display: inline-block;
                font-weight: 600;
                position: relative;
                
                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    transition: $transition;
                    background-color: $main-color;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .opening-hours {
        padding-left: 0;
        margin-bottom: 25px;
        list-style-type: none;

        li {
            margin-bottom: 10px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .social {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
        };
        li {
            display: inline-block;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
            a {
                width: 30px;
                height: 30px;
                text-align: center;
                display: block;
                color: $main-color;
                background-color: $white-color;
                font-size: 18px;
                position: relative;
                border-radius: 2px;

                i {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    right: 0;
                    transform: translateY(-49%);
                }
                &:hover {
                    background-color: $main-color;
                    color: $white-color;
                }
            }
        }
    }
}