@import "../../utils/variable";


.contact-form {
    h3 {
        margin-bottom: 15px;
        font: {
            size: 22px;
            weight: 700;
        };
    }
    form {
        .form-group {
            label {
                display: block;
                margin-bottom: 10px;
                text-transform: uppercase;
                font: {
                    size: 14px;
                    weight: 600;
                };
                span {
                    color: red;
                }
            }
        }
        .with-errors {
            ul {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    top: 10px;
                    bottom: 0;
                };
                li {
                    color: red;
                    font-size: 15px;
                }
            }
        }
        #msgSubmit {
            margin-bottom: 0;

            &.text-danger, &.text-success {
                margin-top: 15px;
            }
        }
    }
}
#map {
    width: 100%;
    height: 500px;
}