@import '../../utils/variable';

.blog-slides {
    &.owl-theme {
        .owl-dots {
            margin: {
                top: 20px !important;
                bottom: 30px;
            }
            .owl-dot {
                span {
                    width: 15px;
                    height: 15px;
                    margin: 0 4px;
                    background: transparent;
                    position: relative;
                    transition: $transition;
                    border-radius: 50%;
                    border: 1px solid transparent;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        transition: $transition;
                        border-radius: 50%;
                        background-color: $black-color;
                        margin: 2px;
                    }
                }
                &:hover,
                &.active {
                    span {
                        border-color: $main-color;

                        &::before {
                            background-color: $main-color;
                        }
                    }
                }
            }
        }
    }
}
.blog-items {
    margin: {
        left: -15px;
        right: -15px;
    }
}
.widget_search {
    @media only screen and (min-width: 992px) {
        display: none;
    }
    form {
        position: relative;

        .screen-reader-text {
            display: none;
        }
        label {
            display: block;
            margin-bottom: 0;
        }
        .search-field {
            height: 50px;
            color: $black-color;
            background-color: #eef5f9;
            display: block;
            width: 100%;
            border-radius: 5px;
            padding: 0 0 0 15px;
            border: none;
            transition: $transition;
            font: {
                size: $font-size;
                weight: 500;
            }
            &::placeholder {
                color: $gray-color;
                transition: $transition;
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            border: none;
            background-color: $main-color;
            color: $white-color;
            height: 40px;
            width: 40px;
            position: absolute;
            right: 5px;
            transition: $transition;
            border-radius: 5px;
            top: 5px;
            font-size: 20px;

            &:hover,
            &:focus {
                background-color: $black-color;
                color: $white-color;
            }
        }
    }
}
