/*
Flaticon icon font: Flaticon
*/
@font-face {
	font-family: "Flaticon";
	src: url("..//font/Flaticon.eot");
	src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
	url("../font/Flaticon.woff2") format("woff2"),
	url("../font/Flaticon.woff") format("woff"),
	url("../font/Flaticon.ttf") format("truetype"),
	url("../font/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../font/Flaticon.svg#Flaticon") format("svg");
	}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-right-arrow:before { content: "\f100"; }
.flaticon-left:before { content: "\f101"; }
.flaticon-tracking:before { content: "\f102"; }
.flaticon-return:before { content: "\f103"; }
.flaticon-shuffle:before { content: "\f104"; }
.flaticon-sale:before { content: "\f105"; }
.flaticon-credit-card:before { content: "\f106"; }
.flaticon-location:before { content: "\f107"; }
.flaticon-customer-service:before { content: "\f108"; }