@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&display=swap');
$font-family1: 'Lato';
$font-family2: 'Cabin';
$fa-font-path:  "../webfonts";

$main-color: #172C93;
$main-color-2: #373F50;
$main-color-3: #2B3445;
$gray-color: #777777;
$black-color: #000000;
$white-color: #ffffff;
$bg-color: #f5f5f5;
$font-size: 15px;
$transition: .5s;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
