@import '../../utils/variable';

.products-page-gallery {
    text-align: center;
    .product-page-gallery-main {
        width: 100%;
        max-height: 35vh;
        .slick-slider {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 35vh;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    .product-page-gallery-preview {
        width:100%;
        max-height: 10vh;
        .slick-slider {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        img {
                            height: 10vh;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}
