@import "../../utils/variable";

.products-details-tab {
    margin-top: 50px;

    .nav-tabs {
        list-style-type: none;
        margin-bottom: -1px;
        padding-left: 0;

        li {
            display: inline-block;
            line-height: initial;
            margin-right: 5px;

            a {
                display: block;
                position: relative;
                color: $black-color;
                border: 1px dashed #dddddd;
                padding: 13px 30px 13px 48px;
                font: {
                    weight: 600;
                    size: $font-size;
                };
                .dot {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 30px;
                    width: 12px;
                    height: 12px;
                    border: 1px solid $black-color;
                    transition: $transition;
                    border-radius: 50%;
        
                    &::before {
                        position: absolute;
                        top: 0;
                        content: '';
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: $black-color;
                        margin: 2px;
                        border-radius: 50%;
                        transition: $transition;
                    }
                }
                &:hover {
                    color: $white-color;
                    background-color: $main-color;
                    border-color: $main-color;

                    .dot {
                        border-color: $white-color;

                        &::before {
                            background: $white-color;
                        }
                    }
                }
            }
            &.current {
                a {
                    color: $white-color;
                    background-color: $main-color;
                    border-color: $main-color;

                    .dot {
                        border-color: $white-color;

                        &::before {
                            background: $white-color;
                        }
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .tab-content {
        border: 1px dashed #dddddd;
        padding: 30px;

        .tab-pane {
            .products-details-tab-content {
                .table {
                    margin-bottom: 0;

                    &.table-striped {
                        tbody {
                            tr {
                                td {
                                    border-top: none;
                                    vertical-align: middle;
                                    white-space: nowrap;
                                    padding: 10px 15px;
                                    color: $black-color;

                                    &:first-child {
                                        font: {
                                            weight: 600;
                                        };
                                    }
                                }
                            }
                        }
                    }
                    &.table-bordered {
                        tbody {
                            tr {
                                td {
                                    vertical-align: middle;
                                    white-space: nowrap;
                                    padding: 10px 15px;
                                    color: $gray-color;
                                    line-height: 1.7;
                                    border-color: #eeeeee;

                                    &:first-child {
                                        color: $black-color;
                                        font: {
                                            weight: 600;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
                h3 {
                    margin-bottom: 15px;
                    font: {
                        size: 22px;
                        weight: 700;
                    };
                }
                .products-review-form {
                    .review-title {
                        position: relative;

                        .rating {
                            display: inline-block;

                            .bx.bxs-star {
                                color: #ffba0a;
                            }
                            i {
                                color: #ebebeb;
                                font-size: 18px;
                                margin-right: -1px;
                            }
                        }
                        p {
                            margin-bottom: 0;
                            display: inline-block;
                            padding-left: 5px;
                            line-height: initial;
                            position: relative;
                            top: -2px;
                        }
                        .default-btn {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    .review-comments {
                        margin-top: 35px;
                        
                        .review-item {
                            margin-top: 30px;
                            position: relative;
                            border-top: 1px dashed #dddddd;
                            padding-top: 30px;

                            .rating {
                                .bx.bxs-star {
                                    color: #ffba0a;
                                }
                                i {
                                    font-size: 17px;
                                    color: #ebebeb;
                                    margin-right: -1px;
                                }
                            }
                            h3 {
                                font-size: 20px;
                                margin: {
                                    top: 8px;
                                    bottom: 8px;
                                };
                            }
                            span {
                                margin-bottom: 10px;
                                font-size: $font-size;
                                display: block;

                                strong {
                                    font-weight: 500;
                                }
                            }
                            p {
                                margin-bottom: 0;
                            }
                            .img-review {
                                width: 12vmin;
                                height: 12vmin;
                                object-fit: contain;
                                margin-right: 1vmin;
                                border: 1px solid #dddddd;
                            }
                        }
                    }
                    .review-form {
                        margin-top: 30px;

                        h3 {
                            margin-bottom: 20px;
                        }
                        form {
                            .form-group {
                                margin-bottom: 15px;
                            }
                            .default-btn {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}