.products-details-image-slider {
    &.owl-theme {
        margin-bottom: 30px;

        .owl-nav {
            margin-top: 0;

            [class*=owl-] {
                color: #87a1c1;
                font-size: 15px;
                margin: 0;
                padding: 0;
                background: $white-color;
                width: 40px;
                height: 40px;
                line-height: 35px;
                position: absolute;
                left: 15px;
                transition: $transition;
                top: 50%;
                padding-right: 2px !important;
                transform: translateY(-50%);
                border: {
                    radius: 50%;
                    style: solid;
                    color: $white-color;
                    width: 1.5px;
                };
                &.owl-next {
                    left: auto;
                    right: 15px;
                    padding: {
                        right: 0 !important;
                        left: 2px !important;
                    };
                }
                &:hover {
                    background-color: $main-color;
                    color: $white-color;
                    border-color: $main-color;
                }
            }
        }
    }
}
.products-details-desc {
    h3 {
        margin-bottom: 18px;
        font: {
            size: 22px;
            weight: 700;
        }
    }
    .price {
        margin-bottom: 10px;
        color: $main-color;
        font: {
            size: $font-size;
            weight: 600;
        }
        .old-price {
            text-decoration: line-through;
            color: #828893;
            font-weight: normal;
            margin-right: 10px;
        }
    }
    .products-review {
        margin-bottom: 5px;

        .rating {
            display: inline-block;
            padding-right: 10px;
            font-size: 18px;

            i {
                color: #ffba0a;
                display: inline-block;
            }
        }
        .rating-count {
            display: inline-block;
            color: $black-color;
            border-bottom: 1px solid $black-color;
            line-height: initial;
            position: relative;
            top: -2px;
            font-weight: 600;

            &:hover {
                color: $main-color;
                border-color: $main-color;
            }
        }
    }
    .products-info {
        list-style-type: none;
        padding-left: 0;
        margin: {
            top: 5px;
            bottom: 5px;
        };
        li {
            color: $black-color;
            margin-bottom: 8px;
            font: {
                size: 16px;
            };
            &:last-child {
                margin-bottom: 0;
            }
            span {
                color: $gray-color;
                margin-right: 5px;
            }
            a {
                display: inline-block;
                font-weight: 600;
                color: $black-color;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    .products-info-btn {
        margin-bottom: 25px;

        a {
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            padding-left: 22px;
            line-height: initial;
            font: {
                size: 14px;
                weight: 600;
            };
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 1.5px;
                background: $main-color;
                transition: $transition;
            }
            i {
                font-size: 18px;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover {
                color: $main-color;

                &::before {
                    width: 100%;
                }
            }
            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }
    .products-add-to-cart {
        .input-counter {
            max-width: 120px;
            min-width: 120px;
            margin-right: 10px;
            text-align: center;
            display: inline-block;
            position: relative;    

            button {
                border: none;
                position: absolute;
                top: 0;
                background-color: transparent;
                cursor: pointer;
                color: #d0d0d0;
                width: 40px;
                height: 100%;
                line-height: 50px;
                transition: $transition;
                font-size: 22px;

                &.minus-btn {
                    left: 0;
                }
                &.plus-btn {
                    right: 0;
                }
                &:hover {
                    color: $main-color;
                }
            }
            input {
                height: 45px;
                color: $black-color;
                outline: 0;
                display: block;
                border: none;
                background-color: #f8f8f8;
                text-align: center;
                width: 100%;
                font: {
                    size: 17px;
                    weight: 600;
                }
                &::placeholder {
                    color: $black-color;
                }
            }
        }
    }
    .wishlist-compare-btn {
        margin-top: 20px;

        .optional-btn {
            padding: {
                top: 8px;
                bottom: 10px;
            };
            i {
                font-size: 20px;
                position: relative;
                top: 3px;
                margin-right: 5px;
            }
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

.prev-arrow-image {
    position: absolute;
    top: 45%;
    left: -2%;
    z-index: 3;
    &:focus {
        box-shadow: none;
    }
}
.next-arrow-image {
    position: absolute;
    top: 45%;
    right: -2%;
    z-index: 3;
    &:focus {
        box-shadow: none;
    }
}