@import "../../utils/variable";

.page-title-area {
    background-color: $main-color;
    padding: {
        top: 10vh;
        bottom: 10vh;
    };
}
.page-title-content {
    position: relative;
    width: 95%;
    margin: {
        left: auto;
        right:  auto;
    }
    padding: {
        left: 1%;
        right: 1%;
    };
    h2 {
        color: $white-color;
        margin-bottom: 0;
        font: {
            size: 25px;
            weight: 700;
        };
        @media screen and (max-width: 576px) {
            text-align: center;
            margin-bottom: 3%;
        }
    }
    ul {
        text-align: right;
        position: absolute;
        right: 0;
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: 576px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        li {
            display: inline-block;
            margin-left: 20px;
            font-weight: 600;
            color: $gray-color;
            position: relative;


            &::before {
                content: '';
                position: absolute;
                left: -10px;
                top: 6px;
                height: 12px;
                width: 1px;
                background-color: $gray-color;
            }
            &:first-child {
                margin-left: 0;

                &::before {
                    display: none;
                }
            }
            a {
                display: block;
                color: $white-color;
            }
        }
    }
}