@import "../../utils/variable";

.store-card{
    width: 100%;
    margin-bottom: 2%;
    padding: 1%;
    .status-store{
        width: fit-content;
        padding: {
            left: 1%;
            right: 1%;
        }
        border-radius: 10%;
        background-color: $gray-color;
        color: $white-color;
    }
    .img-store{
        width: 5vw;
        height: 5vw;
        object-fit: contain;
        border: 1px solid $gray-color;
        border-radius: 50%;
        position: absolute;
        bottom: 3vw;
        left: 15vw;
        @media only screen and (min-width: 768px) and (max-width: 992px) {
            width: 10vw;
            height: 10vw;
            left: 30vw;
        }
        @media only screen and (max-width: 767px) {
            width: 10vw;
            height: 10vw;
            left: 60vw;
            bottom: 5vw;
        }
    }
}