@import "../../utils/variable";

.subscribe {
    background-color: $main-color-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: {
        top: 2%;
        bottom: 2%;
    }
    h4{
        color: $white-color;
    }
    .input-group {
        width: 50%;
        .form-control{
            border: none;
        }
        .search-form{
            background-color: $white-color;
            border: none;
        }
        .btn-subscribe {
            border: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: $gray-color;
            color: $white-color;
            &:hover, &:after, &:focus, &:active {
                color: $white-color;
                background-color: $gray-color;
                box-shadow: none;
            }
        }
    }
}