@import "../../utils/variable";

.container-best-store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: {
        bottom: 5%;
        left: 2%;
        right: 2%;
    };
    h3{
        margin-bottom: 2%;
    }
}