.account-details-container {
    .img-account-details {
        width: 10vw;
        height: 10vw;
        object-fit: contain;
        @media only screen and (max-width: 992px) {
            width: 20vw;
            height: 20vw;
        }
        border: 1px solid rgba(0, 0, 0, 0.085);
        padding: 1%;
        display: block;
        margin: auto;
    }
    .btn-calendar {
        &::after {
            background-color: red;
        }
    }
    .btn.btn-calendar:active,
    .btn.btn-calendar:active.focus,
    .btn.btn-calendar:active:focus,
    .btn.btn-calendar:active:hover,
    .btn.btn-calendar:focus {
        box-shadow: none;
    }
}
