.dashboard-container{
    border: 1px solid rgba(0, 0, 0, 0.085);
    border-radius: 10px;
    margin: {
        top: 20px;
        right: 10px;
        left: 20px;
    };
    padding: {
        top: 30px;
        left: 20px;
        right: 20px;
        bottom: 30px;
    };
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        color: rgba(0, 0, 0, 0.085);
        font-weight: bold;
    }
}